.footerGrid {
    background: var(--primary);
    display: grid;
    grid-template-columns: 1fr auto auto;
    font-size: 16px;
    line-height: 20px;
    color: var(--white);
    padding: 10px 20px;
    gap: 10px 40px;
}

.info:hover {
    color: var(--black);
}

.data:hover {
    color: var(--red);
}

@media (max-width: 765px) {
    .footerGrid {
        grid-template-columns: 1fr;
    }
}